{% extends 'base.html' %}

{% block content %}

  <div class="container">
  <!-- HERO SECTION-->
  <section class="py-5 bg-light">
    <div class="container">
      <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
        <div class="col-lg-6">
          <h1 class="h2 text-uppercase mb-0">Logowanie</h1>
    
        </div>
      </div>
    </div>
  </section>
</div>

    <div class = "container"?
        <div class = "row">
            <center> 
                <div class = "col-8">
                    <br/><br/>
                    <form method="POST" action = "{% url 'login' %}">
                      {% csrf_token %}
                        <div class="mb-3">
                         
                          <input type="text" class="form-control" name = "username" placeholder="użytkownik">
               
                        </div>
                        <div class="mb-3">
             
                          <input type="password" class="form-control" name= "password", placeholder="hasło">
                        </div>
                 
    

                        </div>
                        <button type="submit" class="btn btn-secondary">Zaloguj</button>
                      </form>


                    <br/><br/>
                    <br/><br/>
                    <br/><br/>
                    <br/><br/>
                    <br/><br/>
                </div>
            </center>
        </div>
    </div>


{% endblock %}