{% load static %}

<!-- navbar-->
      <header class="header">
        <div class="container no-margin px-0 px-lg-3">
          <nav class="navbar navbar-expand-lg navbar-light my-higher-navbar" style="background-color: #FFE4C6;">
            
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item"> -->
                  <!-- <a class="nav-link active" href="{% url 'home' %}">Home</a> -->
                <!-- </li> -->

  
                 <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">BIŻUTERIA</a>
                  <div class="dropdown-menu mt-3" aria-labelledby="pagesDropdown">
                     <a class="dropdown-item border-0 transition-link"  href="{% url 'category' 'Bransoletki' %}">BRANSOLETKI</a>
                      <a class="dropdown-item border-0 transition-link" href="{% url 'category' 'Kolczyki' %}">KOLCZYKI</a>
                      <a class="dropdown-item border-0 transition-link" href="{% url 'category' 'Naszyjniki' %}">NASZYJNKI</a>
                      <a class="dropdown-item border-0 transition-link" href="{% url 'home' %}">WSZYSTKIE KATEGORIE</a>
                     
                    </li>  

            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="stonesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">KAMIENIE</a>
                    <div class="dropdown-menu mt-3" aria-labelledby="stonesDropdown"> {# <-- Użyj nowego ID #}
                    
                       {% for material in all_materials %}
                         <a class="dropdown-item border-0 transition-link" href="{% url 'stones_detail' material.name %}">{{ material.name|upper }}</a>
                       {% endfor %}
                    
                    </div>
                  </li>
                  
                <li class="nav-item">
                 <a class="nav-link" href="{% url 'home' %}">PROMOCJE</a>
                </li>

              <a class="navbar-brand" href="{% url 'home' %}">
              <img src="{% static 'img\zoeye_logo.png' %}" alt="Zoeye"></a>
              </ul>
              

              <ul class="navbar-nav ml-auto"> 

                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'search' %}">
                      {# Usunięty tekst "Search" #}

                      {# --- Wklejony kod SVG poniżej --- #}
                      <svg class="nav-icon-svg" version="1.0" xmlns="http://www.w3.org/2000/svg"
                  width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                  preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                  stroke="none">
                  <path d="M2074 4684 c-139 -19 -317 -66 -454 -121 -659 -262 -1105 -840 -1190
                  -1543 -15 -123 -12 -351 5 -484 49 -372 200 -715 445 -1009 375 -449 981 -700
                  1589 -656 350 25 686 140 966 333 l110 75 410 -408 c226 -225 424 -416 442
                  -425 41 -21 125 -21 166 0 45 23 86 63 108 106 23 46 25 127 3 171 -9 18 -200
                  217 -426 443 l-410 411 54 74 c371 506 470 1185 258 1782 -238 674 -836 1158
                  -1549 1252 -132 18 -393 17 -527 -1z m407 -425 c372 -37 664 -174 920 -429
                  215 -215 344 -454 411 -764 32 -147 31 -436 -1 -586 -32 -151 -74 -268 -142
                  -400 -339 -655 -1114 -960 -1820 -714 -220 76 -389 184 -559 354 -127 126
                  -213 245 -285 394 -204 420 -201 914 7 1330 177 354 477 616 851 742 209 70
                  412 95 618 73z"/>
                  </g>
                  </svg>
                    </a>
                  </li>
                 {% if user.is_authenticated %}          
               
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-person-fill" style="font-size: 20px;"></i></a></a>  
                  <div class="dropdown-menu mt-3" aria-labelledby="pagesDropdown">
      
                      <a class="dropdown-item border-0 transition-link" href="{% url 'update_user' %}">User Profile</a>
                      <a class="dropdown-item border-0 transition-link" href="{% url 'update_info' %}">User Info</a>
                 
                      <a class="dropdown-item border-0 transition-link" href="{% url 'logout' %}">Log Out</a>
                  </li>
                     <a class="nav-link position-relative" href="{% url 'cart_summary' %}"> 
                      <i class="bi bi-bag-fill me-1" style="font-size: 17px;"></i> 
               
                         <span class="position-absolute bottom-0 end-15 translate-middle badge bg-dark text-white ms-1 rounded-pill {% if cart|length == 0 %}d-none{% endif %}" id="cart_quantity">{{ cart|length }}</span>
                  
                  </a>
                  {% else %}
                  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-person-fill" style="font-size: 20px;"></i></a></a>  
                  <div class="dropdown-menu mt-3" aria-labelledby="pagesDropdown">
      
                      <a class="dropdown-item border-0 transition-link" href="{% url 'login' %}">ZALOGUJ SIĘ</a>
                      <a class="dropdown-item border-0 transition-link" href="{% url 'register' %}">UTWÓRZ KONTO</a>
        
                  </li>
    
                   <a class="nav-link position-relative" href="{% url 'cart_summary' %}"> 
                  <i class="bi bi-bag-fill me-1" style="font-size: 17px;"></i> 
               
                         <span class="position-absolute bottom-0 end-15 translate-middle badge bg-dark text-white ms-1 rounded-pill {% if cart|length == 0 %}d-none{% endif %}" id="cart_quantity">{{ cart|length }}</span>
                  
                  </a>
       
                {% endif %}   
              </ul>
            </div>
          </nav>
        </div>
      </header>

<script>
  
</script>