{% extends 'base.html' %}

{% block content %}

  <div class="container">
  <!-- HERO SECTION-->
  <section class="py-5 bg-light">
    <div class="container">
      <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
        <div class="col-lg-6">
          <h1 class="h2 text-uppercase mb-0">Utwórz konto</h1>
    
        </div>
      </div>
    </div>
  </section>
</div>

    <div class = "container"?
        <div class = "row">
            <center> 
                <div class = "col-md-6 offset-md-1">
                    <br/><br/>
                    <form method="POST" action = "{% url 'register' %}">
                      {% csrf_token %}
                      
                      {{form.as_p}}
                      <br/><br/>
                      <button type = "submit" class = "btn btn-secondary">Utwórz konto</button>
                      </form>


                    <br/><br/>
                    <br/><br/>
                    <br/><br/>
                    <br/><br/>
                    <br/><br/>
                </div>
            </center>
        </div>
    </div>


{% endblock %}