{% extends 'base.html' %}

{% block content %}

<style>
    .header-background {
        background-color: #ffffff; /* Ciemny kolor, pasujący do navbara */
        height: 110px;
        margin-bottom: -80px; /* Kluczowy element - "wciąga" treść pod siebie */
    }
    .header-card {
        background-color: #fff;
        border: 1px solid #e9ecef;
        border-radius: 0.25rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        padding: 1.25rem 1.75rem;
        position: relative; /* Ważne dla z-index */
        z-index: 10;
    }
     .header-card h1 {
        font-size: 1.5rem; /* ZMNIEJSZONO czcionkę (standardowo h2 ma 2rem) */
    }
</style>

<div class="header-background"></div>

<div class="container">
    <div class="header-card">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="h2 text-uppercase mb-0">Utwórz konto</h1>
            </div>
            <div class="col-md-6 text-md-end">
                <!-- Breadcrumb -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-md-end bg-transparent p-0 m-0">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Strona główna</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Utwórz konto/li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

    <div class = "container"?
        <div class = "row">
            <center> 
                <div class = "col-md-6 offset-md-1">
                    <br/><br/>
                    <form method="POST" action = "{% url 'register' %}">
                      {% csrf_token %}
                      
                      {{form.as_p}}
                      <br/><br/>
                      <button type = "submit" class = "btn btn-secondary">Utwórz konto</button>
                      </form>


                    <br/><br/>
                    <br/><br/>
                    <br/><br/>
                    <br/><br/>
                    <br/><br/>
                </div>
            </center>
        </div>
    </div>


{% endblock %}