{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <br/><br/>
            <div class="card">
                <div class="card-header">
                    <strong>Zamówienie nr {{ order.order_number }}</strong> - {{ order.amount_paid|floatformat:2 }} zł
                </div>
                <div class="card-body">
                    <h5 class="card-title">Szczegóły zamówienia</h5>
                    <p class="card-text">
                        <strong>Email klienta:</strong> {{ order.email }}<br/>
                        {% if order.date_shipped %}
                            <strong>Data wysłania:</strong> {{ order.date_shipped|date:"d M Y, H:i" }}
                        {% else %}
                            <strong>Data zamówienia:</strong> {{ order.date_ordered|date:"d M Y, H:i" }}
                        {% endif %}
                    </p>
                    <hr>
                    <h5 class="card-title mt-4">Adres dostawy</h5>
                    <p class="card-text">
                        <strong>{{ order.full_name }}</strong><br/>
                        <pre style="font-family: inherit; font-size: inherit; margin: 0; padding: 0; white-space: pre-wrap;">{{ order.shipping_address }}</pre>
                    </p>
                    <hr>
                    <h5 class="card-title mt-4">Zamówione produkty</h5>
                    <ul class="list-group list-group-flush">
                        {% for item in items %}
                        <li class="list-group-item">
                            {% if item.variation %}
                                {{ item.variation.product.name }} <strong>({{ item.variation.size }})</strong>
                            {% elif item.product %}
                                {{ item.product.name }}
                            {% else %}
                                Produkt usunięty
                            {% endif %}
                            - Ilość: {{ item.quantity }} - {{ item.price|floatformat:2 }} zł/szt.
                        </li>
                        {% endfor %}
                    </ul>
                    <hr>
                    <div class="text-center mt-4">
                        {% if not order.shipped %}
                        <form method="POST" class="d-inline">
                            {% csrf_token %}
                            <input type="hidden" name="shipping_status" value="true">
                            <button type="Submit" class="btn btn-success">Oznacz jako wysłane</button>
                        </form>
                        {% else %}
                        <form method="POST" class="d-inline">
                            {% csrf_token %}
                            <input type="hidden" name="shipping_status" value="false">
                            <button type="Submit" class="btn btn-danger">Cofnij status wysłane</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            <br/><br/>
        </div>
    </div>
</div>

{% endblock %}